# Файлы Python
__pycache__/
*.py[cod]

# База данных SQLite
db.sqlite3

# Конфигурационные файлы среды
# .env

# Логи
*.log

# Файлы среды разработки
.vscode/
.idea/

# Другие ненужные файлы
*.swp

README.md

# Палево
regru
regru.pub
